---
import "../styles/global.css";

const { title, variant, size, theclass } = Astro.props;
---

<button class={theclass} data-day={theclass} data-variant={variant} data-size={size}>
  {title}
</button>

<style>
  button {
    border: none;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
  }

  button:hover {
    transform: scale(0.9);
  }
  /* 
  --black: #000000;
  --brown: #5f2a0d;
  --red-dark: #79241f;
  --red-medium: #b43830;
  --red-light: #d2625a;
  --beige-dark: #e2d5c3;
  --beige-medium: #f6f1e9;
  --beige-light: #f5f5f5;
  --pink-medium: #e8d0ce;
  --pink-light: #f1e9e8;

  --dropshadow: 0px 1px 12px rgba(0, 0, 0, 0.25); 
  */

  /* sizes */

  button {
    width: 80px;
    height: 33px;

    font-size: 10px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.15em;
  }

  /* Variants */
  [data-variant="program"] {
    border-radius: 11px;
    background-color: var(--beige-dark);
    color: var(--brown);
  }

  [data-variant="download"] {
    border-radius: 11px;
    background-color: var(--red-medium);
    color: white;
  }
  [data-variant="day"] {
    border-radius: 50px;
    background-color: var(--red-light);
    color: var(--beige-dark);
  }

  .active {
    background-color: var(--red-medium);
    font-weight: 900;
  }

  @media (min-width: 400px) {
    button {
      width: 120px;
    }
  }

  @media (min-width: 600px) {
    button {
      height: 50px;
      width: 150px;
    }
  }
  @media (min-width: 900px) {
    button {
      font-size: 20px;
    }

    [data-variant="program"] {
      width: 262px;
      border-radius: 11px;
      background-color: var(--beige-dark);
      color: var(--brown);
    }

    [data-variant="download"] {
      width: 262px;
      border-radius: 11px;
      background-color: var(--red-medium);
      color: white;
    }
    [data-variant="day"] {
      width: 206px;
      border-radius: 50px;
      background-color: var(--red-light);
      color: var(--beige-dark);
      margin: 40px 0;
    }
  }
</style>
