---
import { LEGACY_ASTRO_CONFIG_KEYS } from "astro/dist/core/config/config";
import "../styles/global.css";
const { navn, billede, link, beskrivelse, japansk, day } = Astro.props;
---

<article class={"theCard " + day}>
  <a href={link} target="blank"
    ><div class="img_container">
      <img src={billede} alt="billede" />
    </div></a
  >
  <a href={link} target="blank">
    <section>
      <div class="overskrift">
        <h3>{navn}</h3>
        <a href="program-singleview"><h3 class="arrow">&#8594;</h3></a>
      </div>
      <h3>{japansk}</h3>
      <p>
        {beskrivelse}
      </p>
    </section>
  </a>
</article>

<style>
  article {
    width: 310px;
    height: max-content;
    margin: 20px 0;
    overflow: hidden;
  }

  img {
    width: 267px;
    height: 216px;
    left: 0px;
    overflow: hidden;
  }

  .overskrift {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--red-dark);
    padding: 49px 0 23px 0;
  }
  .arrow {
    font-size: 50px;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -10%;

    color: var(--black);
    max-width: 500px;
  }

  .hide {
    display: none;
  }

  @media (min-width: 1200px) {
    article {
      width: 500px;
      height: 750px;
    }
    img {
      aspect-ratio: 3/2;
      width: 100%;
      height: auto;
    }

    h3 {
      font-weight: 400;
      font-size: 40px;
      line-height: 60px;
    }
  }

  @media (min-width: 1500px) {
    article {
      width: 600px;
      height: 750px;
    }
  }
</style>
